apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: app-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 561616501473.dkr.ecr.ap-south-1.amazonaws.com/airfare-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: MONGODB_URI
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: JWT_SECRET
            - name: IMAGEKIT_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: IMAGEKIT_PUBLIC_KEY
            - name: IMAGEKIT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: IMAGEKIT_PRIVATE_KEY
            - name: IMAGEKIT_URL_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: IMAGEKIT_URL_ENDPOINT
